@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #d9d9d9;
  height: 5vh;
}

main {
  height: 73vh;
  display: flex;
}

.section-left {
  width: 59%;
  background-color: #a4a4a4;
}

.section-right {
  display: flex;
  flex-direction: column;
  width: 41%;
}

.section-right div:nth-child(1) {
  height: 54%;
  background-color: #7f7a7a;
}

.section-right div:nth-child(2) {
  height: 46%;
  background-color: #615050;
}

.bottom {
  height: 10vh;
  background-color: #d9d9d9;
}

footer {
  height: 12vh;
  background-color: #afa9a9;
}
