@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-page {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.auth-card {
  width: 100%;
  border: 1px solid gray;
  padding: 10px 10px 28px 10px;

  text-align: center;
}

.auth-card__logo {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;

  margin-top: 50px;
  margin-bottom: 68px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 0 45px;
  margin-bottom: 26px;
}

.auth-form__fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form__field {
  display: flex;
  flex-direction: column;
}

.auth-form__input {
  width: 100%;
  padding: 16px 13px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  background: #fafafa;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

.auth-form__input::placeholder {
  color: #8e8e8e;
  font-size: 16px;
}

.auth-form__input:focus {
  border-color: #a8a8a8;
}

.auth-form__btn {
  appearance: none;
  outline: none;
  background-color: #0083cc; /* Дуже світлий сірий фон по макету */

  width: 100%;
  padding: 7px 1px;
  margin-top: 11px;

  color: white;
  font-size: 22px; /* В Instagram шрифт в інпутах досить дрібний */

  border-radius: 10px;
  cursor: pointer;

  border: none;
}

.auth-divider {
  margin-bottom: 38px;
}

.auth-divider__text {
  color: #a8a8a8;
  font-size: 20px;
  text-transform: uppercase;
}

.auth-socials {
  margin-bottom: 30px;
}

.auth-socials__icon {
  width: 25px;
}

.auth-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  text-decoration: none;
}

.auth-socials__text {
  color: #475698;
  font-size: 22px;
}

.auth-card__forgot {
  color: #475698;
  font-size: 18px;

  text-decoration: none;
}

.auth-card--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 20px;
  padding: 31px 10px;
}

.auth-card__link {
  text-decoration: none;
  color: #475698;
  font-weight: 600;
}
