* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6vh;
  padding: 20px;
  text-align: center;
  height: 50vh;
}

p {
  font-size: 22px;
}

.first {
  background-color: #f0c3ca;
}

.second {
  background-color: #272727;
  color: white;
}
